*{
    box-sizing: border-box;
}

body {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    /* background: url('../images/yourimage.jpg') */
    background-color: black;
}

#wrapper{
    background-color: white;
}